{% macro table(items, fields, entity_type) %}
<table class="table table-hover">
	<thead>
		<tr>
			{% for field in fields %}
			<th>{{ field.label }}</th>
			{% endfor %}
			<th>Действия</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
		<tr>
			{% for field in fields %}
			<td>
				{% if field.link %}
				<a href="/{{ entity_type }}/{{ item.id }}">{{ item[field.key] }}</a>
				{% else %}
				{{ item[field.key] }}
				{% endif %}
			</td>
			{% endfor %}
			<td>
				<a href="/{{ entity_type }}/{{ item.id }}/edit" class="btn btn-sm btn-warning">Изменить</a>
				<button class="btn btn-sm btn-danger" data-bs-toggle="modal"
					data-bs-target="#deleteModal-{{ entity_type }}-{{ item.id }}">
					Удалить
				</button>
			</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
{% endmacro %}

{% macro card(item, fields, nested=[]) %}
<div class="card shadow">
	<div class="card-header bg-primary text-white">
		<h4 class="my-2">{{ item.name }}</h4>
	</div>
	<div class="card-body">
		{% for field in fields %}
		<p class="card-text">
			<strong>{{ field.label }}:</strong> {{ item[field.key] }}
		</p>
		{% endfor %}

		{% for nested_entity in nested %}
		<h5>{{ nested_entity.label }}</h5>
		{{ table(nested_entity['items'], nested_entity.fields, nested_entity.entity) }}
		{% endfor %}
	</div>
</div>
{% endmacro %}

{% macro form(form, entity_type) %}
<form method="POST">
	{{ form.hidden_tag() }}
	{% for field in form %}
	{% if field.label.text != "CSRF Token" %}
	<div class="mb-3">
		{{ field.label(class="form-label") }}
		{{ field() }}
	</div>
	{% endif %}
	{% endfor %}

	<div class="mb-4 justify-content-center">
		<button type="submit" class="btn btn-primary">Сохранить</button>
		<a href="/{{ entity_type }}" class="btn btn-secondary">Отменить</a>
	</div>
</form>
{% endmacro %}

{% macro form_import(form) %}
<form method="POST" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	<div class="mb-3">
		{{ form.entity.label(class="form-label") }}
		{{ form.entity() }}
	</div>

	<div class="mb-3">
		{{ form.file.label(class="form-label") }}
		{{ form.file() }}
	</div>

	{% if form.errors.file %}
	<div class="mb-3 alert alert-danger" role="alert">
		{% for error in form.errors.file %}
		{{ error }}	
		{% endfor %}
	</div>
	{% endif %}

	<div class="mb-4 justify-content-center">
		<button type="submit" class="btn btn-primary">Отправить</button>
		<a href="/" class="btn btn-secondary">Отменить</a>
	</div>
</form>
{% endmacro %}

{% macro template_card(header,text,entity) %}
<div class="col-md-4 mb-3">
	<div class="card h-100">
		<div class="card-body text-center">
			<h5>{{ header }}</h5>
			<p>{{ text }}</p>
			<a href="{{ url_for('main.download_template', entity=entity)}}" class="btn btn-success">
				<i class="bi bi-download"></i> Скачать
			</a>
		</div>
	</div>
</div>
{% endmacro %}

