{% macro table(records, id=0) %}
	<table class="table table-hover {{ 'table-info' if id > 0 else 'table-light' }} mb-0"
		style="border-left: {{id*4}}px solid #000000;">
		<thead>
			<tr>
			{% for header in records[0] %}
				<td>{{header}}</td>
			{% endfor %}
			</tr>
		</thead>
		<tbody>
		{% for record in records %}
			<tr>
			{% for value in record.values() %}
				{% if value is is_list %}
				<td>
					<button class="btn btn-outline-primary btn-sm"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapse_{{id}}_{{records.index(record)+1}}_{{loop.index}}"
						aria-expanded="false"
						aria-controls="collapse_{{id}}_{{records.index(record)+1}}_{{loop.index}}">
						Подробнее
					</button>
				</td>
				{% else %}
				<td>{{value}}</td>
				{% endif %}
			{% endfor %}
			</tr>
			{% for value in record.values() %}
				{% if value is is_list %}
				<tr>
					<td colspan="{{record|length}}" class="p-0">
						<div class="collapse" id="collapse_{{id}}_{{records.index(record)+1}}_{{loop.index}}">
							{{ table(value, id+1) }}
						</div>
					</td>
				</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</tbody>	
	</table>
{% endmacro %}
