package components

templ Footer() {
	<footer class="fixed-bottom bg-light text-center text-muted py-3 mt-5">
	  <div class="container">
		<p>&copy; 2025 DEPOT. Петрозаводский филиал ПГУПС.</p>
	  </div>
	</footer>
}
