<nav class="navbar navbar-expand-lg bg-dark bg-gradient border-button border-body" data-bs-theme="dark">
	<div class="container-fluid">
		<span class="navbar-brand">DEPOT</span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		{% if 'user' in g %}
		<div class="colapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a href="{{url_for('main.index') }}" class="nav-link">Главная</a>
				</li>
				<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          	Просмотр  
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('main.specializations') }}">Специализации</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.groups') }}">Группы</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.students') }}">Студенты</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.disciplines') }}">Дисциплины</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.teachers') }}">Преподаватели</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.audience') }}">Аудитории</a></li>
          </ul>
        </li>
			</ul>
			<span class="navbar-text mx-2">{{g.user["user_name"]}}</span>
			<a class="btn btn-danger" href="{{ url_for('login.logout') }}" role="button">Выйти</a>
		</div>
		{% else %}
		<div class="colapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a href="{{url_for('main.index') }}" class="nav-link">Главная</a>
				</li>
			</ul>
			<span class="navbar-text mx-2">Вход не выполнен</span>
			<a class="btn btn-success" href="{{ url_for('login.login') }}" role="button">Войти</a>
		</div>
		{% endif %}
	</div>
</nav>
